modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Ollama Manager"

[[workflows.workflow]]
name = "Ollama Manager"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "xvfb-run -a python main.py"

[deployment]
run = ["sh", "-c", "xvfb-run -a python main.py"]
